.navbar-default {
  background-color: #00FF0080;
  border-color: #00FF0080;
  border-width: 0px 0px 0px 0px;
  font-style: regular;
}

.navbar-default {
  background-color: #00FF0080;
  border-color: #00FF0080;
  border-width: 0px 0px 0px 0px;
  font-style: regular;
}
