.navbar-default {
  background-color: #00D5FF80;
  border-color: #0A86FAB8;
  border-width: 0px 0px 0px 0px;
  font-family: Cookie;
  font-style: regular;
}

.irs--shiny .irs-grid-text {
  font-family: Cookie;
  font-size: 12pt;
  color: #121212;
}

.irs--shiny .irs-bar {
  background-color: #00D5FF80;
  border-color: #0A86FAB8;
  border-width: 0px 0px 0px 0px;
}

.irs--shiny .irs-min, .irs--shiny {
  color: #121212;
  font-family: Cookie;
  font-size: 12pt;
  background-color: #00D5FF80;
}

.irs--shiny .irs-max, .irs--shiny {
  color: #121212;
  font-family: Cookie;
  font-size: 12pt;
  background-color: #00D5FF80;
}
